SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=

SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_SANDBOX=True

BKASH_MERCHANT_NUMBER=
NAGAD_MERCHANT_NUMBER=
ROCKET_MERCHANT_NUMBER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SECURE_SSL_REDIRECT=False