aioredis==1.3.1
asgiref==3.11.1
async-timeout==5.0.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
certifi==2026.4.22
cffi==2.1.1
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.7
cloudinary==1.44.2
constantly==23.10.4
cryptography==50.0.0
daphne==3.0.2
Django==6.0.5
django-axes==8.3.1
django-cloudinary-storage==0.3.0
django-debug-toolbar==6.3.0
django-environ==0.14.0
Faker==40.18.0
git-filter-repo==2.47.0
hiredis==3.4.1
hyperlink==21.0.0
idna==3.15
Incremental==24.11.0
msgpack==1.2.1
packaging==26.3
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
pyOpenSSL==26.4.0
redis==4.6.0
requests==2.34.2
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
sslcommerz-lib==1.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.2
ujson==5.13.0
urllib3==2.7.0
whitenoise==6.12.0
zope.interface==8.5
gunicorn
